@import 'tailwindcss';

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #0a0f1e;
  --color-surface-dark: #161c2d;
  --color-border-dark: #242b3d;
  --font-display: var(--font-spline-sans);
}

@layer base {
  :root {
    --background: var(--color-background-light);
    --foreground: #0f172a; /* slate-900 */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-spline-sans);
}
